<!DOCTYPE html>
<html>
<body>

<h2>Concrete Strength Prediction</h2>

<form action="/submit" method='post'>
    <label for="Cement">Cement:</label><br>
    <input type="text" id="cement" name="cement" value="0"><br><br>
    <label for="Blast Furnance Slag">Blast Furnance Slag:</label><br>
    <input type ="text" id="Blast Furnance Slag" name="Blast Furnance Slag" value="0"><br><br>
    <label for="Fly Ash">Fly Ash:</label><br>
    <input type="text" id="Fly Ash" name="Fly Ash" value="0"><br><br>
    <label for="Water">Water:</label><br>
    <input type="text" id="Water" name="Water" value="0"><br><br>
    <label for="Superplasticizer">Superplasticizer:</label><br>
    <input type="text" id="Superplasticizer" name="Superplasticizer" value="0"><br><br>
    <label for="Coarse Aggregate">Coarse Aggregate:</label><br>
    <input type="text" id="Coarse Aggregate" name="Coarse Aggregate" value="0"><br><br>
    <label for="Fine Aggregate ">Fine Aggregate :</label><br>
    <input type="text" id="Fine Aggregate " name="Fine Aggregate " value="0"><br><br>
    <label for="Age ">Age :</label><br>
    <input type="text" id="Age " name="Age " value="0"><br><br>
    <input type = "submit" value="Submit">
</form>

<p> If you click the "Submit" button, the form-data will be sent to a page called "/submit"

</body>
</html>